*{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    grid-template-columns: 2fr 5fr 4fr;
}

.logo_img {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 200px;
    height: 80px;
}

.search_box_container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid black;
    padding: 16px;
    box-shadow: 4px 2px 2px gray;
}

.search_box {
    height: 20px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: rgb(113, 113, 113);
    width: 100px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    border-right: 1px solid;
}

.search_img {
    width: 30px;
    height: 30px;
    text-align: center;
}

.button_container {
    display: flex;
    position: absolute;
    right: 20px;
    justify-content: space-between;
    align-items: center;
}

.button{
    padding: 10px;
}

.sign_up {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 4px 2px 2px gray;
}

.earth_img {
    width: 30px;
    height: 30px;
}

.body0{
    width:100%;
    display: flex;
    background-color: #F7F7F7;
    text-align: left;
    margin: 0;
    padding: 20px 20px 0px 20px;
}

h1 {
    font-size: 22px;
    margin: 0px 0px 0px 40px;
}

.body1 {
    display: flex;
    background-color: #F7F7F7;
    text-align: left;
    border: 5px;
    margin: 0;
    padding: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

.info_box {
    width: 300px;
    padding: 16px;
    border-top: 1px;
    border-bottom: 1px rgb(221,221,221) solid;
    margin: 10px;
}

h2 {
    font-size: 18px
}

h3{
    font-size: 16px;
    font-weight: bold;
}

h4{
    font-size: 14px;
    color: #717171;
}

.body2 {
    width: 100%;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    text-align: left;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.link {
    margin: 20px;
}

h5{
  font: 14px black bold;
  margin: 15px;
}

h6{
  font: 12px, black;
  margin: 15px;
}

.footer{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    bottom: 10px;
    border-top: 1px gray;
}

.footer_left{
    left: 10px;
}

.footer_right_container{
    right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_right{
    text-decoration: underline;
    margin: 15px;
}